*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --font-color: #d3fff3;
  --section-background-color: #444444;
  --primary-btn-bcg: #dc9e82;
  --hoover-btn-bcg: #b17960;
  --btn-text-color: #181717;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background-color: #333333;
  color: var(--font-color);
}

/* QUOTES SECTION */
.quotes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--section-background-color);
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 0 24 rgba(0, 0, 0, 0.2);
}

.quotes__title {
  font-size: 1.8rem;
  margin: 0.2rem;
}

.quotes__text {
  width: 80%;
  font-style: italic;
  font-size: 1.6rem;
}

.quotes__author {
  width: 60%;
  text-align: end;
  font-size: 1.2rem;
}

.quotes__change-btn {
  background-color: var(--primary-btn-bcg);
  color: #181717;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.quotes__change-btn:hover {
  background-color: #b17960;
}

/* APP */
.grid {
  display: grid;
  grid-template-columns: 15rem 1fr 20rem;
  margin-top: 2rem;
  gap: 0.8rem;
}

/* MENU SECTION */

.menu-close {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  border-radius: 4px;
  padding-top: 5rem;
  background-color: var(--section-background-color);
  transition: all 0.5s;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  background-color: var(--section-background-color);
  border-radius: 4px;
  width: 100%;
  transition: all 0.5s;
}

.menu__title {
  font-size: 2.4rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.3s, transform 0.3s;
}

.menu__list {
  font-size: 1.8rem;
  line-height: 8rem;
  padding-top: 6rem;
  margin-left: -5rem;
}

.menu__list--item {
  display: flex;
  align-items: center;
  list-style: none;
  cursor: pointer;
  transition: color 0.3s, transform 0.3s;
}

.menu__title:hover,
.menu__list--item:hover {
  color: #00a6ed;
  transform: scale(1.1);
}

.menu__list--item i {
  font-size: 1.8rem;
  line-height: 8rem;
  padding-right: 1.2rem;
  font-size: 2.6rem;
}

/* CARDS */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: var(--section-background-color);
  border-radius: 4px;
}

.card__title {
  font-size: 3.2rem;
}

.hidden {
  display: none;
}

/* TASKS SECTION */

.tasks__input--box {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2rem 0 6rem 0;
  box-shadow: 0 5px 5px -5px #222;
}

.tasks__input {
  height: 3rem;
  font-size: 2rem;
  width: 60%;
  margin-right: 2rem;
  border-radius: 4px;
}

.tasks__input::placeholder {
  padding: 0 0.4rem;
}

.tasks__add-btn {
  height: 2.8rem;
  border: none;
  background-color: var(--primary-btn-bcg);
  color: var(--btn-text-color);
  border-radius: 4px;
  padding: 0 1rem;
  transition: background-color 0.3s;
  cursor: pointer;
}

.tasks__add-btn:hover {
  background-color: var(--hoover-btn-bcg);
}

.new-tasks-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 5.2rem 0;
}

.tasks__new-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 4.6rem;
  font-size: 1.6rem;
  background-color: #555555;
  margin-bottom: 1.2rem;
  padding: 0 1rem;
  border-radius: 6px;
  box-shadow: 0px 0px 15px -4px rgba(33, 33, 33, 1);
}

.tasks__new-task--btn {
  background-color: var(--primary-btn-bcg);
  color: var(--btn-text-color);
  border: none;
  width: 4.2rem;
  padding: 0.6rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tasks__new-task--btn:hover {
  background-color: var(--hoover-btn-bcg);
}

/* NOTES SECTION */
.notes__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 6rem 0;
  width: 100%;
}

.form__note-title {
  width: 60%;
  margin-bottom: 1.2rem;
}

.form__textarea {
  width: 60%;
  height: 20rem;
  margin-bottom: 1.2rem;
}

.form__accept-btn {
  background-color: var(--primary-btn-bcg);
  color: var(--btn-text-color);
  border: none;
  width: 8.2rem;
  padding: 0.6rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form__accept-btn:hover {
  background-color: var(--hoover-btn-bcg);
}

.notes__new-note {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 4.6rem;
  font-size: 1.4rem;
  background-color: #555555;
  margin-bottom: 1.2rem;
  padding: 0 1rem;
  border-radius: 6px;
  box-shadow: 0px 0px 15px -4px rgba(33, 33, 33, 1);
}

.note__new-note--btn {
  background-color: var(--primary-btn-bcg);
  color: var(--btn-text-color);
  border: none;
  width: 4.2rem;
  padding: 0.6rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.note__new-note--btn:hover {
  background-color: var(--hoover-btn-bcg);
}
